<!DOCTYPE html>
<html>

<head>
    <title>ParkBentley</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/table.css" />
    <link rel="stylesheet" href="./css/changeReservation.css" />

    <link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script type=text/javascript>

    </script>
    <nav class="loginText">
        <li><a href="/login">Login</a></li>
        <li><a href="/join">join</a></li>
    </nav>
    <nav class="navbar">
        <div class="logo">

            <a href="/main">Park Bentley</a>

        </div>
        <ul class="navbar_menu">
            <li><a href="">서비스 이용</a>
                <ul>
                    <li><a href="/makeReservation">예약하기</a></li>
                    <li><a href="/changeReservation">예약변경</a></li>
                    <li><a href="/checkReservation">예약확인</a></li>

                </ul>
            </li>
            <li><a href="">입출차 확인</a>
                <ul>
                    <li><a href="/enterCar">입차하기</a></li>
                    <li><a href="/departCar">출차하기</a></li>
                </ul>
            </li>
            <li><a href="">마이페이지</a>
                <ul>
                    <li><a href="/myrecord">사용 기록 조회</a></li>
                    <li><a href="/charge">잔액 충전</a></li>
                </ul>
            </li>
            <li><a href="">사용 통계 조회</a>
                <ul>
                    <li><a href="/adminMonth">월별 사용통계</a></li>
                    <li><a href="/adminDay">일별 사용통계</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- 기본 테마 끝 -->
    <div class="yellowBar">
        <p class="yellowBarText">사용기록 조회</p>
        <h2 id="year">
            날짜 선택&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="select_year"
                onchange="javascript:startday();"></select>년 <select id="select_month"
                onchange="javascript:startday();"></select> 월 <select id="select_day"></select>일 ~
            <select id="select_lastyear" onchange="javascript:lastday();"></select>년 <select id="select_lastmonth"
                onchange="javascript:lastday();"></select> 월 <select id="select_lastday"></select>일
        </h2>
        <button onclick="getDate();">조회</button>

        <h1 class="js-startDate" id="termDate"></h1>
    </div>
    <div class="yellowRoundBox">
        <table class="table">
     
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>예약 시간</th>
                    <th>예약 번호</th>
                    <th>이용 여부</th>
                    <th>상세정보</th>
                </tr>
            </thead>
            <tbody>
                <% for(i = 0; i < rows.length; i++) { %>
                <tr>
                    <td><%=rows[i].ReservationDate %></td>
                    <td><%=rows[i].StartTime %>~ <%=rows[i].EndTime %></td>
                    <td><%=rows[i].ReservationNum %></td>
                    <td><%=rows[i].UseStatus %></td>
                    <td><button type="button"
                            onclick='location.href="/checkMyRecord/<%=rows[i].ReservationNum %>"'>확인하기</button></td>
                </tr>
                <% } %>

            </tbody>
            <ul class="w3-pagination">
                <li><a href="#" class="w3-hover-purple">&laquo;</a></li>
                <li><a href="#" class="w3-hover-green">1</a></li>
                <li><a href="#" class="w3-hover-red">2</a></li>
                <li><a href="#" class="w3-hover-blue">3</a></li>
                <li><a href="#" class="w3-hover-black">4</a></li>
                <li><a href="#" class="w3-hover-orange">&raquo;</a></li>
              </ul>
        </table>
        <div class="js-pickDate" id="date">


        </div>
        </script>
        <script src="./content/record/pickDate.js"></script>
        <script src="./content/record/pickLastDate.js"></script>
        <script src="./content/record/getDate.js"></script>

</body>

</html>