<!DOCTYPE html>
<html>

<head>
    <title>ParkBentley</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/table.css" />
    <link rel="stylesheet" href="./css/changeReservation.css" />

    <link href='https://fonts.googleapis.com/css?family=Red Rose' rel='stylesheet'>
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script type=text/javascript>

    </script>
    <nav class="loginText">
        <li><a href="/login">Login</a></li>
        <li><a href="/join">join</a></li>
    </nav>
    <nav class="navbar">
        <div class="logo">

            <a href="/main">Park Bentley</a>

        </div>
        <ul class="navbar_menu">
            <li><a href="">서비스 이용</a>
                <ul>
                    <li><a href="/makeReservation">예약하기</a></li>
                    <li><a href="/changeReservation">예약변경</a></li>
                    <li><a href="/checkReservation">예약확인</a></li>

                </ul>
            </li>
            <li><a href="">입출차 확인</a>
                <ul>
                    <li><a href="/enterCar">입차하기</a></li>
                    <li><a href="/departCar">출차하기</a></li>
                </ul>
            </li>
            <li><a href="">마이페이지</a>
                <ul>
                    <li><a href="/myrecord">사용 기록 조회</a></li>
                    <li><a href="/charge">잔액 충전</a></li>
                </ul>
            </li>
            <li><a href="">사용 통계 조회</a>
                <ul>
                    <li><a href="/adminMonth">월별 사용통계</a></li>
                    <li><a href="/adminDay">일별 사용통계</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- 기본 테마 끝 -->
    <div class="yellowBar">
        <p class="yellowBarText">사용기록 조회</p>
        <h2 id="year">
            날짜 선택&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="select_year"
                onchange="javascript:startday();"></select>년 <select id="select_month"
                onchange="javascript:startday();"></select> 월 <select id="select_day"></select>일 ~
            <select id="select_lastyear" onchange="javascript:lastday();"></select>년 <select id="select_lastmonth"
                onchange="javascript:lastday();"></select> 월 <select id="select_lastday"></select>일
        </h2>
        <button onclick="getDate();">조회</button>

        <h1 class="js-startDate" id="termDate"></h1>
    </div>
    <div class="yellowRoundBox">
        <table class="table">
            <caption>product list
                <form action="" id="setRows">
                    <p>
                        showing
                        <input type="text" name="rowPerPage" value="5">
                        item per page
                    </p>
                </form>
        
            </caption>
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>예약 시간</th>
                    <th>예약 번호</th>
                    <th>이용 여부</th>
                    <th>상세정보</th>
                </tr>
            </thead>
            <tbody>
                <% for(i = 0; i < rows.length; i++) { %>
                <tr>
                    <td><%=rows[i].ReservationDate %></td>
                    <td><%=rows[i].StartTime %>~ <%=rows[i].EndTime %></td>
                    <td><%=rows[i].ReservationNum %></td>
                    <td><%=rows[i].UseStatus %></td>
                    <td><button type="button"
                            onclick='location.href="/checkMyRecord/<%=rows[i].ReservationNum %>"'>확인하기</button></td>
                </tr>
                <% } %>

            </tbody>
            <ul class="w3-pagination">
                <li><a href="#" class="w3-hover-purple">&laquo;</a></li>
                <li><a href="#" class="w3-hover-green">1</a></li>
                <li><a href="#" class="w3-hover-red">2</a></li>
                <li><a href="#" class="w3-hover-blue">3</a></li>
                <li><a href="#" class="w3-hover-black">4</a></li>
                <li><a href="#" class="w3-hover-orange">&raquo;</a></li>
              </ul>
        </table>
        <div class="js-pickDate" id="date">


        </div>
        <script>
            var $setRows = $('#setRows');

            $setRows.submit(function (e) {
                e.preventDefault();
                var rowPerPage = $('[name="rowPerPage"]').val() * 1;// 1 을  곱하여 문자열을 숫자형로 변환

                //		console.log(typeof rowPerPage);

                var zeroWarning = 'Sorry, but we cat\'t display "0" rows page. + \nPlease try again.'
                if (!rowPerPage) {
                    alert(zeroWarning);
                    return;
                }
                $('#nav').remove();
                var $products = $('#products');

                $products.after('<div id="nav">');


                var $tr = $($products).find('tbody tr');
                var rowTotals = $tr.length;
                //	console.log(rowTotals);

                var pageTotal = Math.ceil(rowTotals / rowPerPage);
                var i = 0;

                for (; i < pageTotal; i++) {
                    $('<a href="#"></a>')
                        .attr('rel', i)
                        .html(i + 1)
                        .appendTo('#nav');
                }

                $tr.addClass('off-screen')
                    .slice(0, rowPerPage)
                    .removeClass('off-screen');

                var $pagingLink = $('#nav a');
                $pagingLink.on('click', function (evt) {
                    evt.preventDefault();
                    var $this = $(this);
                    if ($this.hasClass('active')) {
                        return;
                    }
                    $pagingLink.removeClass('active');
                    $this.addClass('active');

                    // 0 => 0(0*4), 4(0*4+4)
                    // 1 => 4(1*4), 8(1*4+4)
                    // 2 => 8(2*4), 12(2*4+4)
                    // 시작 행 = 페이지 번호 * 페이지당 행수
                    // 끝 행 = 시작 행 + 페이지당 행수

                    var currPage = $this.attr('rel');
                    var startItem = currPage * rowPerPage;
                    var endItem = startItem + rowPerPage;

                    $tr.css('opacity', '0.0')
                        .addClass('off-screen')
                        .slice(startItem, endItem)
                        .removeClass('off-screen')
                        .animate({ opacity: 1 }, 300);

                });

                $pagingLink.filter(':first').addClass('active');

            });


            $setRows.submit();
        </script>
        <script src="./content/record/pickDate.js"></script>
        <script src="./content/record/pickLastDate.js"></script>
        <script src="./content/record/getDate.js"></script>

</body>

</html>